body{
    margin: 0;
    padding: 0;
    background-color:rgba(236, 224, 220, 0.415);
}

table ,th,td,tr{
    text-align: center;
    border: 1px solid black;
    border-collapse:collapse;
    height: auto;
    width:fit-content;
    background-color:rgb(19, 198, 204);
    padding: 15px;  
}